/* custom styles */

/* job index */

.job-mini {
  margin: 20px;
  border: 1px solid #ddd;
}

.job-mini .job-thumbnail {
  display: table-cell;
  width: 100px;
}

.job-mini .job-details {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}


/* */
.form-check-label {
font-weight: normal;
}

trix-editor {
min-height: 200px;
}

button.code {
display: none;
}
button.increase {
display: none;
}
button.decrease {
display: none;
}
button.heading-1 {
display: none;
}
button.quote {
display: none;
}


/* */

body {
  padding-top: 70px;
}

html {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #484848;
    line-height: 1.28
}

p {
    margin: 0 0 10px
}

.subHeader {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 10px
}

em {
    font-style: italic
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    color: #7b7b7b
}

h1,
h2,
h3 {
    line-height: 40px
}

h1 {
    font-size: 39px
}

h2 {
    font-size: 31px
}

h3 {
    font-size: 23px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 11px
}

h1 small {
    font-size: 24px
}

h2 small {
    font-size: 18px
}

h3 small {
    font-size: 16px
}

h4 small {
    font-size: 14px
}

ul,
ol {
    margin: 0 0 10px 25px;
    padding: 0
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0
}

li {
    line-height: 20px
}

a {
    color: #c05b4d;
    text-decoration: none
}

a:hover,
a:focus {
    color: #a5473a;
    text-decoration: underline
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.center {
    text-align: center
}

input {
    font-family: inherit
}

html * {
    color-profile: sRGB;
    rendering-intent: auto
}








.navbar {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}





