<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ _('Edit Your Profile') }}</h1>
    <br>
    {% include 'flash.html' %}
   
        {% from "_formhelpers.html" import render_field %}
        <form method="post" name="edit">
            {{ form.hidden_tag() }}

            {{ render_field(form.nickname) }}

            {{ render_field(form.about_me) }}

            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="{{ _('Save Changes') }}">
                </div>
            </div>
        </form>
{% endblock %}
