<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ _('Hi %(nickname)s', nickname=g.user.nickname) }}</h1>
    {% include 'flash.html' %}
    {% for job in jobs.items %}
        {% include 'job.html' %}
    {% endfor %}
    <ul class="pager">
        {% if jobs.has_prev %}
        <li class="previous"><a href="{{ url_for('index', page=jobs.prev_num) }}">{{ _('Newer jobs') }}</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">{{ _('Newer jobs') }}</a></li>
        {% endif %}
        {% if jobs.has_next %}
        <li class="next"><a href="{{ url_for('index', page=jobs.next_num) }}">{{ _('Older jobs') }}</a></li>
        {% else %}
        <li class="next disabled"><a href="#">{{ _('Older jobs') }}</a></li>
        {% endif %}
    </ul>
{% endblock %}
