<div class="job-mini">
    <div class="job-thumbnail">
        <a href="{{ url_for('user', nickname=job.author.nickname) }}"><img src="{{ job.author.avatar(70) }}" /></a>
    </div>
    <div class="job-details">
        <div class="job-title">
            <a href="{{ url_for('job', id = job.id) }}">{{ job.title }}</a>        
        </div>
        <div class="job-organization">
            {% autoescape false %}
            {{ _('%(nickname)s said %(when)s:', nickname='<a href="%s">%s</a>' % (url_for('user', nickname=job.author.nickname), job.author.nickname), when=momentjs(job.timestamp).fromNow()) }}
            {% endautoescape %}
        </div>
        {% if job.author.id == g.user.id %}
        <div><a href="{{ url_for('delete_job', id = job.id) }}">{{ _('Delete') }}</a></div>
        {% endif %}        
    </div>
</div>